DO LANGUAGE plpgsql $$
  DECLARE
    node_exists BOOL;
  BEGIN
    node_exists := COUNT(*) > 0 FROM bdr.bdr_nodes WHERE node_name = 'node{{bdr_ports[0]}}';
    IF NOT node_exists THEN
      PERFORM bdr.bdr_group_create(
        local_node_name := 'node{{bdr_ports[0]}}',
        node_external_dsn := 'port={{bdr_ports[0]}} dbname={{db_name}}'
      );
    END IF;
  END;
$$

