
SELECT bdr.bdr_group_join(
      local_node_name := 'node{{item}}',
      node_external_dsn := 'port={{item}} dbname={{db_name}}',
      join_using_dsn := 'port={{bdr_ports[0]}} dbname={{db_name}}'
{% if replication_sets|length %}
      , replication_sets := ARRAY[{{replication_sets}}]
{% endif %}
);
