# roles/bdr_init/templates/postgresql.bdr.conf.j2
#
# See: http://bdr-project.org/docs/0.9.0/bdr-configuration-variables.html

# Generic settings required for BDR
#----------------------------------

# Allow at least {{bdr_ports|count}} other peer nodes, plus one for init_replica
# (we'll actually create an additional {{extra_connections}} in case we want to
# add more nodes manually)
max_replication_slots = {{bdr_ports|count + 1 + extra_connections}}

# {{bdr_ports|count}} peer nodes, plus two slots for pg_basebackup, and {{extra_connections}}
# additional connections
max_wal_senders = {{bdr_ports|count + 2 + extra_connections}}

# Record data for logical replication
wal_level = 'logical'
track_commit_timestamp = on

# Load BDR
shared_preload_libraries = 'bdr'

# Make sure there are enough background worker slots for BDR to run
max_worker_processes = {{bdr_ports|count + 1 + extra_connections}}

# Set up debugging output
log_error_verbosity = verbose
log_min_messages = debug1
log_line_prefix = '[%t] d=%d p=%p a=%a%q '

